<!-- Tokkatot Bottom Navigation Component -->
<nav class="bottom-nav" id="app-navbar">
  <a href="/" class="nav-item" data-nav="home">
    <span class="material-symbols-outlined">home</span>
    <span data-i18n="nav_home">Home</span>
  </a>
  <a href="/monitoring" class="nav-item" data-nav="monitoring">
    <span class="material-symbols-outlined">analytics</span>
    <span data-i18n="nav_monitoring">Monitoring</span>
  </a>
  <a href="/disease-detection" class="nav-item" data-nav="disease">
    <span class="material-symbols-outlined">biotech</span>
    <span data-i18n="nav_disease">Disease</span>
  </a>
  <a href="/schedules" class="nav-item" data-nav="schedules">
    <span class="material-symbols-outlined">calendar_month</span>
    <span data-i18n="nav_schedules">Schedules</span>
  </a>
  <a href="/settings" class="nav-item" data-nav="settings">
    <span class="material-symbols-outlined">settings</span>
    <span data-i18n="nav_settings">Settings</span>
  </a>
</nav>


